<!DOCTYPE html>
<html>
<head>
    <title>MuleSoft Documentation // {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="../css/asciidoctor.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap-3.3.4-dist/css/bootstrap.min.css" />
    <link rel="stylesheet/less" type="text/css" href="../css/styles.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/scroll-menu.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/sidebar-menu.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/sub-header.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/article-content.less" />
    <script src="../js/less.js"></script>
    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
    <meta charset="utf-8">
    {{ page.metadata }}
    {{ page.swifttype-metadata }}
</head>
<body>
<!-- Swiftype Code -->

<script type="text/javascript">
(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

_st('install','Y6NSC3YWFiMQgK63xPb7','2.0.0');
</script>
<style>
.st-autocomplete-results, .st-ui-autocomplete {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  width: 340px;
}

.st-ui-search-input, .st-default-search-input {
  color: white;
}
</style>

<!-- End Swiftype Code -->

<!-- DUMMY HEADER -->
<div class="row header" style="background:#323031;height:70px;"></div>
<!-- /DUMMY HEADER -->

<div class="container">
    <div class="row sub-header" data-swiftype-index='false'>
      <div class="search-box col-md-3 col-xs-8">
          <form action="">
              <a href="#"><i class="tree-icon glyphicon glyphicon-th-list"></i></a>
              <i class="glyphicon glyphicon-search"></i><input class="search-field st-default-search-input" type="text" name="search-docs" placeholder="Search the docs">
              <input type="submit" value="Submit">
          </form>
      </div>
      <div class="toolbar col-md-4 col-xs-4">
          <div class="toolbar-dropdown edit-github">
              <a href="#"><img class="github-icon" alt="github-icon"/><span>Edit on GitHub</span></a>
          </div>
          <div class="toolbar-dropdown helpful">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-helpful" data-toggle="dropdown" aria-expanded="true">
                  <i class="glyphicon glyphicon-star-empty"></i><span>Helpful?</span>
              </button>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-helpful">
                  <li role="presentation">
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star"></i>
                      <i class="glyphicon glyphicon-star-empty"></i>
                      <i class="glyphicon glyphicon-star-empty"></i>
                  </li>
                  <li role="presentation"><textarea name="feedback-textarea" id="" cols="30" rows="5" placeholder="Feedback..."></textarea></li>
                  <li role="presentation"><input type="submit" value="Submit"></li>
              </ul>
          </div>
          <div class="toolbar-dropdown export">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-export" data-toggle="dropdown" aria-expanded="true">
                  <i class="glyphicon glyphicon-log-out"></i><span>Export</span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-export">
                  <li role="presentation"><a href="#">Export as FORMAT1</a></li>
                  <li role="presentation"><a href="#">Export as FORMAT2</a></li>
                  <li role="presentation"><a href="#">Export as FORMAT3</a></li>
              </ul>
          </div>

      </div>




      <div class="version-selector col-md-5 col-xs-12">
          {{ page.version }}

          <!--
          <label for="version-selector">CloudHub Version</label>
          <select id="version-selector">
              <option value="1">v 1.1238327285739</option>
              <option value="2">v 1.2348577374539</option>
              <option value="3">v 1.3583456695739</option>
              <option value="4">v 1.4238456875739</option>
          </select> -->

      </div>

    </div>
    <div class="row">
        <div class="sidebar-nav col-md-3" data-swiftype-index='false'>
            <div class="marker"></div>
            <div class="active-marker"></div>
            <nav>
                <ul class="tree">

                  {{ page.toc }}

                </ul>
            </nav>
        </div><!-- /sidebar-nav -->
        <div class="article-content col-md-7"> <!-- article-content -->

          {{ page.breadcrumb }}

          <h1>{{ page.title }}</h1>

          {{ page.content }}

        </div> <!-- /article-content -->
        {{ page.sections }}
      </div>
    </div>
    <!-- DUMMY HEADER -->
    <div class="row header" style="background:#323031;height:472px;"></div>
    <!-- /DUMMY HEADER -->
  </body>
</html>
