@import "styles.less";
.article-content {
  background: white;
  padding: 20px 40px;
}
.article-content .breadcrumb-section {
  margin-bottom: 50px;
}
.article-content .breadcrumb-section a {
  color: #58595A;
  margin: 0 5px;
}
.article-content .breadcrumb-section a:first-child {
  margin-left: 0;
}
.article-content .breadcrumb-section .breadcrumb-active-link {
  color: #989A9B;
}
.article-content h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #58595A;
}
.article-content h2 {
  font-size: 22px;
  letter-spacing: -1px;
  color: #58595A;
}
.article-content p {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #58595A;
}
@media (max-width: 992px) {
  .article-content.hidecontent {
    display: none;
  }
}
.article-content .paragraph.lead>p,
#preamble>.sectionbody>.paragraph:first-of-type p {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #58595a;
}
.article-content h1 {
  margin-bottom: 50px;
}
.article-content h2 a:hover:after {
  content: none;
}
.article-content h2 a:before {
  content: "";
  display: inline-block;
  background: url(../img/link.svg) no-repeat;
  opacity: .5;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.article-content h4 {
  vertical-align: middle;
}
.article-content h4 img {
  width: 40px;
}
.article-content img {
  margin: 30px 0;
}
.article-content a:hover {
  text-decoration: none;
}
.article-content a:hover:after {
  content: "";
  display: inline-block;
  background: url(../img/link.svg) no-repeat;
  opacity: .5;
  height: 12px;
  width: 12px;
  margin-left: 5px;
}
.article-content .ulist {
  margin-left: 2px;
}
.article-content table tr.even,
.article-content table tr.alt,
.article-content table tr:nth-of-type(even) {
  background-color: white;
}
.article-content table.grid-all {
  border: none;
  margin: 30px 0;
}
.article-content table.grid-all th.tableblock,
.article-content table.grid-all td.tableblock {
  border: none;
  border-bottom: 1px solid #e9e9e9;
  max-width: 200px;
  word-wrap: break-word;
}
.article-content table.grid-all th {
  background: white;
}
.article-content table.grid-all th.tableblock {
  border-bottom: 3px solid #e9e9e9;
}
.article-content table.grid-all th {
  font-weight: 400;
}
.article-content table.tableblock {
  border-collapse: collapse;
}
.article-content table.tableblock>.title {
  color: #00a2e3;
  font-style: normal;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}
.article-content ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  margin: 30px 0;
}
.article-content ol li {
  position: relative;
  padding-left: 34px;
  min-height: 25px;
}
.article-content ol li:before {
  content: counter(li);
  counter-increment: li;
  color: #58595a;
  background: #f4f5f7;
  border-radius: 50%;
  font-size: 18px;
  width: 20px;
  height: 20px;
  font-size: 11px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.article-content .listingblock,
.article-content .literalblock {
  margin: 40px 0;
}
.article-content .literalblock > .content pre,
.article-content .listingblock > .content pre {
  background: #f9fafc;
  border-radius: 0;
  border: none;
  color: #58595b;
  padding: 0;
  margin: 0;
}
.article-content .listingblock > .content table .code {
  padding: 10px;
  width: 100%;
}
.article-content .listingblock > .content table {
  border: none;
  margin: 0;
}
.article-content .listingblock .content .line-numbers {
  background: #f4f5f7;
  border: none;
  padding: 0;
  padding-top: 10px;
  padding-right: 5px;
  min-width: 35px;
  vertical-align: top;
}
.article-content .listingblock .content td.code > pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  margin-left: 35px;
}
.article-content .listingblock .content table tr {
  position: relative;
}
.article-content .listingblock .content td.line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 4px solid #e8e9eb;
  padding-bottom: 10px;
}
.article-content .listingblock > .content .line-numbers pre {
  background: #f4f5f7;
  text-align: right;
}
.article-content .listingblock .content > pre.CodeRay > code {
  white-space: nowrap;
}
.article-content .listingblock td.code {
  border-right: 4px solid #e8e9eb;
}
.article-content .literalblock .content > pre:not(.CodeRay),
.article-content .listingblock .content > pre:not(.CodeRay) {
  border-right: 4px solid #e8e9eb;
  border-left: 4px solid #e8e9eb;
}
.article-content .listingblock .content > pre:not(.CodeRay),
.article-content .literalblock .content > pre:not(.CodeRay) {
  padding: 10px;
}
.article-content .listingblock code[data-lang]:before {
  display: block !important;
  right: 0;
  top: -18px;
  width: 42px;
  background: #e8e9eb;
  padding: 5px;
}
.article-content .admonitionblock {
  margin: 30px 0;
}
.article-content .admonitionblock > table td.icon {
  vertical-align: top;
  padding: 0;
  text-align: right;
  width: auto;
}
.article-content .admonitionblock > table td.icon > i:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.article-content .admonitionblock td.content {
  padding: 20px;
  font-size: 13px;
}
.article-content .admonitionblock.note td.content {
  border: 2px solid #58595A;
  border-left: 6px solid #58595A;
}
.article-content .admonitionblock.note > table td.icon > i:before {
  background: url(../img/note.svg) no-repeat;
}
.article-content .admonitionblock.tip td.content {
  border: 2px solid #58595A;
  border-left: 6px solid #58595A;
}
.article-content .admonitionblock.tip > table td.icon > i:before {
  background: url(../img/tip.svg) no-repeat;
}
.article-content .admonitionblock.important td.content {
  border: 2px solid #00B5D1;
  border-left: 6px solid #00B5D1;
}
.article-content .admonitionblock.important > table td.icon > i:before {
  background: url(../img/important.svg) no-repeat;
}
.article-content .admonitionblock.caution td.content {
  border: 2px solid #D1344E;
  border-left: 6px solid #D1344E;
}
.article-content .admonitionblock.caution > table td.icon > i:before {
  background: url(../img/caution.svg) no-repeat;
}
.article-content .admonitionblock.warning td.content {
  border: 2px solid #F2BF24;
  border-left: 6px solid #F2BF24;
}
.article-content .admonitionblock.warning > table td.icon > i:before {
  background: url(../img/warning.svg) no-repeat;
}
.article-content #see-also + .sectionbody ul {
  margin: 0;
  margin-top: 14px;
}
.article-content #see-also + .sectionbody ul li {
  list-style-type: none;
}
.article-content #see-also + .sectionbody ul li p {
  display: inline-block;
  max-width: 90%;
  vertical-align: middle;
}
.article-content #see-also + .sectionbody ul li:before {
  content: "";
  display: inline-block;
  background: url(../img/bullet.svg) no-repeat;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
.article-content .nav-tabs {
  border: none;
  margin-top: -4px;
}
.article-content .nav-tabs li a {
  border-radius: 0;
  border: none;
  border-top: 4px solid #e8e9eb;
  color: #6a6b6d;
}
.article-content .nav-tabs li a:hover {
  border-radius: 0;
  border: none;
  border-top: 4px solid #6b6c6d;
  background: white;
}
.article-content .nav-tabs li a:after {
  content: none;
}
.article-content .nav-tabs>li.active>a,
.article-content .nav-tabs>li.active>a:focus,
.article-content .nav-tabs>li.active>a:hover {
  border-radius: 0;
  border: none;
  border-top: 4px solid #00a1e3;
  font-weight: bold;
}
.article-content .panel {
  border: none;
  border-radius: 0;
  border-bottom: 31px solid #f4f5f7;
  -moz-box-shadow: 0 4px 0px 0px #e8e9eb;
  -webkit-box-shadow: 0 4px 0px 0px #e8e9eb;
  box-shadow: 0 4px 0px 0px #e8e9eb;
}
.article-content .panel-default>.panel-heading {
  border-radius: 0;
  padding-top: 0;
  border: none;
  border-top: 4px solid #e8e9eb;
  padding: 0;
}
.scroll-menu-container {
  position: relative;
  padding: 40px 0;
}
.scroll-menu-container .scroll-menu {
  padding: 20px;
  padding-right: 0;
  max-width: 170px;
  background: white;
  position: fixed;
  top: 140px;
}
.scroll-menu-container .scroll-menu h4 {
  color: #6B6C6D;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 10px;
}
.scroll-menu-container .scroll-menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}
.scroll-menu-container .scroll-menu ul li > a {
  display: block;
  color: #6B6C6D;
  text-decoration: none;
  border-left: 5px solid #E8E9EA;
  padding: 10px 0 10px 20px;
  font-size: 13px;
}
.scroll-menu-container .scroll-menu ul li > a.active {
  border-left: 5px solid #00A2DF;
}
.scroll-menu-container .scroll-menu ul li > a:hover {
  border-left: 5px solid #6B6C6D;
}
@media screen and (max-width: 992px) {
  .scroll-menu-container {
    display: none;
  }
}
.container {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.container .sidebar-nav {
  padding: 0;
}
.container .sidebar-nav nav > ul > li.parent_li {
  padding: 10px 20px;
}
.container .sidebar-nav nav > ul > li.parent_li > a {
  font-family: "OpenSansSemiBold", arial, helvetica, sans-serif;
  color: #58595A;
}
.container .sidebar-nav nav > ul > li.parent_li:first-child {
  padding: 20px 20px 10px 20px;
}
.container .sidebar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container .sidebar-nav ul li {
  margin-top: 0.5em;
}
.container .sidebar-nav ul li a {
  font-size: 13px;
  text-decoration: none;
  color: #6B6C6D;
  display: inline-block;
  width: 180px;
}
.container .sidebar-nav ul li i {
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 14px;
}
.container .sidebar-nav ul li:not(.parent_li):hover,
.container .sidebar-nav ul li:not(.parent_li):hover > a {
  color: #00A2DF;
}
.container .sidebar-nav ul li.parent_li {
  padding: 10px 0;
  margin: 0;
  color: #727272;
}
.container .sidebar-nav ul li.parent_li > a {
  width: 170px;
  padding: 5px 0;
}
.container .sidebar-nav ul li.parent_li i {
  padding: 5px 0;
}
.container .sidebar-nav ul li.parent_li i.glyphicon-chevron-right,
.container .sidebar-nav ul li.parent_li i.glyphicon-chevron-down {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 17px;
}
.container .sidebar-nav ul li.parent_li i.glyphicon {
  content: "";
}
.container .sidebar-nav ul li.parent_li i.glyphicon-chevron-right:before {
  background: url('../img/nav-collapse.svg') center center no-repeat;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
}
.container .sidebar-nav ul li.parent_li i.glyphicon-chevron-down:before {
  background: url('../img/nav-expand.svg') center center no-repeat;
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
}
.container .sidebar-nav ul li.parent_li.expanded {
  background: white;
  color: #474747;
}
.container .sidebar-nav ul li.parent_li > ul li {
  margin-left: 0;
  padding: 5px 0 5px 10px;
}
.container .sidebar-nav .marker,
.container .sidebar-nav .active-marker {
  background: #6B6C6D;
  width: 5px;
  position: absolute;
}
.container .sidebar-nav .active-marker {
  background: #00A2DF;
}
.container .sidebar-nav.hidecontent-desktop {
  display: none;
}
.sidebar-nav > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li > a {
  width: 170px;
}
.sidebar-nav > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li.parent_li > ul > li > a {
  width: 160px;
}
.sidebar-nav.col-md-3 > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li.parent_li > ul > li.parent_li > ul > li > a {
  width: 120px;
}
@media (max-width: 1200px) {
  .container .sidebar-nav ul li a {
    width: 150px;
  }
  .container .sidebar-nav ul li.parent_li > a {
    width: 150px;
  }
  .sidebar-nav > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li > a {
    width: 130px;
  }
  .sidebar-nav > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li.parent_li > ul > li > a {
    width: 100px;
  }
  .sidebar-nav.col-md-3 > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li.parent_li > ul > li.parent_li > ul > li > a {
    width: 90px;
  }
}
@media (max-width: 992px) {
  .container .sidebar-nav {
    display: none;
  }
  .container .sidebar-nav.showcontent {
    display: block;
  }
  .container .sidebar-nav.showcontent nav {
    background: #f4f5f6;
  }
  .container .sidebar-nav ul li.parent_li > a,
  .sidebar-nav > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li > a,
  .sidebar-nav > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li.parent_li > ul > li > a,
  .sidebar-nav.col-md-3 > nav > ul > li.parent_li.expanded > ul > li.parent_li > ul > li.parent_li > ul > li.parent_li > ul > li > a {
    width: auto;
  }
}
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/din/DINPro.otf");
  font-weight: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'DINProLight';
  src: url("../fonts/din/DINPro-Light.otf");
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'openSans';
  src: url('../fonts/open_sans/OpenSans-Regular-webfont.eot');
  src: url('../fonts/open_sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open_sans/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/open_sans/OpenSans-Regular.ttf') format('truetype'), url('../fonts/open_sans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/open_sans/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/open_sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open_sans/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/open_sans/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/open_sans/OpenSans-Semibold-webfont.svg#OpenSansSemiBold') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}
html,
html a {
  -webkit-font-smoothing: antialiased !important;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: #f4f5f6;
  background: -moz-linear-gradient(left,#f4f5f6 0%,#f4f5f6 48%,#ffffff 49%,#ffffff 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,#f4f5f6),color-stop(48%,#f4f5f6),color-stop(49%,#ffffff),color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(left,#f4f5f6 0%,#f4f5f6 48%,#ffffff 49%,#ffffff 100%);
  background: -o-linear-gradient(left,#f4f5f6 0%,#f4f5f6 48%,#ffffff 49%,#ffffff 100%);
  background: -ms-linear-gradient(left,#f4f5f6 0%,#f4f5f6 48%,#ffffff 49%,#ffffff 100%);
  background: linear-gradient(to right,#f4f5f6 0%,#f4f5f6 48%,#ffffff 49%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f5f6',endColorstr='#ffffff',GradientType=1);
}
h1,
h2,
h3,
h4 {
  font-family: "DINProLight", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
.sub-header .search-box {
  height: 65px;
  background: #00A2DF;
  color: white;
  padding: 19px 0px 0px 20px;
}
.sub-header .search-box i {
  margin-right: 10px;
  font-size: 18px;
}
.sub-header .search-box a > .tree-icon {
  display: inline;
  float: left;
  padding-right: 10px;
  margin-top: 2px;
  border-right: 1px solid white;
  color: #ffffff;
}
.sub-header .search-box i.glyphicon:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
}
.sub-header .search-box i.glyphicon-search {
  top: 3px;
}
.sub-header .search-box i.glyphicon-search:before {
  background: url('../img/search.svg') center 2px no-repeat;
}
.sub-header .search-box i.glyphicon-th-list:before {
  background: url('../img/nav-hide.svg') center top no-repeat;
  background-size: 105%;
}
.sub-header .search-box i.glyphicon-th-list.tree-closed:before {
  background: url('../img/nav-show.svg') center top no-repeat;
  background-size: 120%;
}
.sub-header .search-box .search-field {
  background: transparent;
  border: none;
  width: 135px;
  border-bottom: 1px solid rgba(255,255,255,0);
  font-size: 14px;
  padding: 5px 0;
}
.sub-header .search-box .search-field:focus {
  outline: 0;
}
.sub-header .search-box .search-field:hover {
  border-bottom: 1px solid rgba(255,255,255,0.8);
}
.sub-header .search-box .search-field::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}
.sub-header .search-box .search-field:-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
.sub-header .search-box .search-field:-ms-input-placeholder {
  color: rgba(255,255,255,0.8);
}
.sub-header .search-box input[type=submit] {
  display: none;
}
.sub-header .toolbar {
  height: 65px;
  background: white;
  border-bottom: 1px solid #ECEEEF;
  padding: 16px 0px 0px 28px;
  padding-right: 0;
  text-align: left;
}
.sub-header .toolbar .toolbar-dropdown {
  display: inline-block;
}
.sub-header .toolbar .toolbar-dropdown .btn {
  padding: 6px;
  font-size: 13px;
}
.sub-header .toolbar .toolbar-dropdown .dropdown-toggle {
  border: none;
  background: transparent;
  color: #989A9B;
}
.sub-header .toolbar .toolbar-dropdown .dropdown-toggle i {
  margin-right: 5px;
}
.sub-header .toolbar .toolbar-dropdown .dropdown-toggle i.glyphicon:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  opacity: .3;
}
.sub-header .toolbar .toolbar-dropdown .dropdown-toggle:focus {
  outline: 0;
  box-shadow: none;
}
.sub-header .toolbar .toolbar-dropdown .dropdown-toggle:hover {
  color: #58595A;
}
.sub-header .toolbar .toolbar-dropdown .dropdown-toggle:hover > i.glyphicon:before {
  opacity: .6;
}
.sub-header .toolbar .toolbar-dropdown .dropdown-menu {
  padding: 20px;
}
.sub-header .toolbar .toolbar-dropdown.helpful li {
  margin-bottom: 10px;
}
.sub-header .toolbar .toolbar-dropdown.helpful .dropdown-menu {
  left: 150px;
}
.sub-header .toolbar .toolbar-dropdown.helpful i.glyphicon-star-empty:before {
  background: url('../img/star.svg') center center no-repeat;
  background-size: 100%;
}
.sub-header .toolbar .toolbar-dropdown.export .dropdown-menu {
  left: 245px;
}
.sub-header .toolbar .toolbar-dropdown.export i.glyphicon-log-out:before {
  background: url('../img/link.svg') center 2px no-repeat;
}
.sub-header .toolbar .toolbar-dropdown.edit-github a {
  color: #989A9B;
  display: inline-block;
  text-decoration: none;
}
.sub-header .toolbar .toolbar-dropdown.edit-github a .github-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  opacity: .4;
  background: url('../img/github-icon.png') center center no-repeat;
}
.sub-header .toolbar .toolbar-dropdown.edit-github a span {
  vertical-align: middle;
}
.sub-header .toolbar .toolbar-dropdown.edit-github a:hover {
  color: #58595A;
}
.sub-header .toolbar .toolbar-dropdown.edit-github a:hover .github-icon {
  opacity: .75;
}
.sub-header .version-selector {
  background: white;
  border-bottom: 1px solid #ECEEEF;
  text-align: right;
  padding: 16px 0px 0px 28px;
  height: 65px;
  display: block;
}
.sub-header .version-selector label {
  font-weight: normal;
  color: #989A9B;
  margin-right: 10px;
}
.sub-header .version-selector select {
  min-width: 60px;
  max-width: 165px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  padding: 7px 25px 7px 13px;
  background: #E8E9EA url('../img/nav-expand.svg') 85% 50% no-repeat;
  background-size: 17px;
  color: #989A9B;
  text-align: right;
}
.sub-header .version-selector select:focus {
  outline: 0;
}
@media (max-width: 992px) {
  .sub-header .search-box .search-field {
    padding-top: 0;
  }
  .sub-header .search-box a > .tree-icon {
    margin-top: 0;
  }
  .sub-header .search-box.fullwidth {
    width: 100%;
  }
  .sub-header .toolbar {
    border-bottom: 1px solid white;
  }
  .sub-header .toolbar .toolbar-dropdown .dropdown-toggle span {
    display: none;
  }
  .sub-header .toolbar .toolbar-dropdown .dropdown-toggle i {
    margin-right: 0px;
  }
  .sub-header .toolbar .toolbar-dropdown.edit-github span {
    display: none;
  }
  .sub-header .toolbar .toolbar-dropdown.helpful .dropdown-menu,
  .sub-header .toolbar .toolbar-dropdown.export .dropdown-menu {
    right: 0;
    left: auto;
  }
  .sub-header .toolbar.hidecontent {
    display: none;
  }
  .sub-header .version-selector {
    text-align: center;
  }
  .sub-header .version-selector select {
    width: 250px;
  }
  .sub-header .version-selector.hidecontent {
    display: none;
  }
}